/**
 * file: css/css.css
 * purpose: styling
 **/

/* Define variables in the :root */
 :root {
   --contrast: lime;
   --backgr: #E1D4C7;
 }

/* Use your variables on elements */
 main {
   color: var(--contrast);
   background-color: var(--backgr);
 }

 body{
  font-family: 'Poppins', sans-serif; /* Standard font */
  background-color: var(--backgr);
 }
 .introbillede{
 justify-self: center;
 z-index: 0;
 }
 .introbillede img{
  width: 30rem;
  height: auto;
 }
