/* Generel styling for hele siden */
body {
    body {
    font-family: 'Poppins', sans-serif; /* Ændrer skrifttypen på hele siden */
    background-color: #f6f1eb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.newsletter-container {
    background-color: #403836; /* Baggrundsfarve */
    border-radius: 600px 600px 0 0 ; /* Halv cirkel nederst */
    padding: 20px 20px; /* Reduktion af padding for bedre visning */
    width: 80%; /* Fyld hele bredden af forælderen */
    max-width: 800px; /* Maksimal bredde */
    text-align: center; /* Centrerer indholdet */
    margin: 10px auto; /* Centrerer containeren på siden */

    padding-left: 270px;
    font-family: 'Poppins', sans-serif; 
    margin-top: 50px;
    margin-bottom: 0px;
}

.newsletter-form h2 {
    font-size: 2rem;
    color: #E1D4C7;
    padding-right: 260px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif; 
    

    
}

.newsletter-form p {
    font-size: 0.8rem;
    margin-bottom: 10px;
    color: #E1D4C7; 
    padding-right: 260px;
    font-family: 'Poppins', sans-serif;
    
    
    
} 

.newsletter-form form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #E1D4C7;
    text-decoration: underline;
   padding-right: 15px;
   font-family: 'Poppins', sans-serif; 
 
   
   
    
     
}

.newsletter-form input {
    padding: 5px;
    font-size: 100%;
    border-radius: 10px;
    width: 50%;
    background-color: #E1D4C7;
    text-decoration: underline;
    padding-right: 50px;
    font-family: 'Poppins', sans-serif; 
    height: 50px;
    text-underline-position: below;
    
    
    
}

.newsletter-form button {
    background-color: #E1D4C7;
    padding: 12px;
    font-size: 1.0rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 50%;
    text-align: center;
    font-family: 'Poppins', sans-serif; 
    
}

.newsletter-form button:hover {
    background-color: #b38456; 
    font-family: 'Poppins', sans-serif; 
}